@model eMoviesFramework.Models.TicketsModel
<body>
    <h1>Browse movie tickets</h1>

    <br />

    <form method="post">
        <div id="maindiv">
            <table id="indextable">
                <tr>
                    <th>Movie</th>
                    <th style="padding-left: 5px">Quantity</th>
                    <th>Price</th>
                </tr>
                @for (int i = 0; i < Model.Movies.Length; i++)
                {
                    <tr>
                        <td class="col1"><div class="IndexColumn1Div"><a href="/home/moviedescription?id=@Model.Movies[i].Id" style="color: black; text-decoration:none">@Model.Movies[i].Name</a></div></td>
                        <td class="col2"><input type="hidden" asp-for=@Model.Movies[i].Id /><div class="IndexColumn2Div"><input class="input" type="text" size="30" asp-for=@Model.Movies[i].Quantity style="text-align:center" /></div><span asp-validation-for=@Model.Movies[i].Quantity></span></td>
                        <td class="col3"><div class="IndexColumn3Div">£@Model.Movies[i].Price</div></td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td id="totalword"><b>Total</b></td>
                    <td id="totalPrice" style="text-align:center"><b>@Model.CurrencyTotal</b><span asp-for="totalPrice"></span></td>
                </tr>
            </table>

            <button type="submit" id="btnupdate" name="submitbutton" value="Update">Update<span asp-for="Button"></span></button>
            <br />
        </div>



        <p class="porange">Tickets are only valid for use on the day of purchase</p>

        <button class="btnorder" type="submit" name="submitbutton" value="Order">Order now >><span asp-for="Button"></span></button>

        <br />
        <br />
        <br />

        <div style="float:right"><span asp-validation-for="TotalQuantity"></span></div>
    </form>
</body>
